
.detailContainer{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    background: #00425A;
    max-width: 712px;
    margin: 0 auto;
}

.imgDetailContainer {
    width: 90%;
    margin: auto;
}


.imgDetailContainer img {
    margin-top: 1em;
    border-radius: 5px;
    width: 100%;
}
span {
    color: #1F8A70;
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    /* flex: 1; */
    color: #BFDB38;
    display: block;
}

.textContainer {
    width: 90%;
    margin: auto;
}

.backHomeBtn {
    /* display: block; */
    margin: 0 auto;
    margin-bottom: 1em;
    border: none;
    color: #fff;
    background: #1F8A70;
    padding: .5em;
    border-radius: 5px;
}

@media screen and (min-width: 712px){
    .detailContainer{
        flex-direction: row;
        max-width: none;
        justify-content: space-between;

    }
}